.input {


  //font-family: Montserrat !important;
  //font-weight: 400 !important;
  //font-size: 12px !important;
  //line-height: 100%;
  //color: #999999;
  //
  //
  //
  //& input {
  //  padding: 12px;
  //
  //  &::placeholder {
  //    font-family: Montserrat !important;
  //    font-weight: 400 !important;
  //    font-size: 12px !important;
  //    line-height: 100%;
  //  }
  //}
}



