.heading {
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 100% !important;
  color: #999999 !important;
}

.text {
  width: fit-content;
  max-width: 140px;
  white-space: nowrap;
  overflow-y: hidden;
  text-overflow: ellipsis;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 100% !important;
  color: #000 !important;
}

.row {
  td, th {
    border: none;
  }
}