.container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.filter {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

  &--rotate svg {

    transform: rotate(180deg);
  }
}

.text {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.textDecoration {
  color: #1FA46C;
  text-decoration: underline;
}