.container {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
}

.wrapper {
  margin-top: 32px;
  display: flex;
  gap: 34px;
}