.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
}

.list {
  display: flex;
  gap: 40px;
}

.item {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 170%;

  &--active {
    color: #1FA46C;
    text-decoration: underline;
  }
}

