.container {
  width: 100%;
  padding: 32px;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.table {
  margin-top: 32px;
}