.container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 20px;
  background-color: #F4F5F6;
  border-radius: 30px;

  &--selected {
    outline: 1px solid #1FA46C;
  }
}


.text {
  font-weight: 400;
  font-size: 12px;
}
